<style>
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Lotto CSS */
.lotto {
    width: 350px;
    height: auto;
    margin: 0 auto 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.numbers {
    width: 300px;
    height: 50px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.eachnum {
    font-size: 0.75em;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#draw, #reset {
    margin: 5px 5px 5px 5px;
    font-size: 0.5em;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 6px;
    color: black;
    background-color: rgb(255, 208, 0);
    cursor: pointer;
}

#draw:active, #reset:active {
    font-size: 0.6em;
    background-color: yellow;
    width: 55px;
    height: 32px;
}

</style>

<!-- Lotto Html -->
<div class="lotto">
  <h3 style="margin: 0;">행운 번호 뽑기</h3>
  <div class="numbers"></div>
  <button id="draw">뽑기</button>
  <button id="reset">다시</button>
</div>

<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->

  <div class="mySlides fade">
    <div class="numbertext">1 / 2</div>
    <img src="/assets/images/photo_01.jpeg" style="width:100%; height: 650px;">
    <div class="text">Waffle</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 2</div>
    <img src="/assets/images/photo_02.jpeg" style="width:100%; height: 650px;">
    <div class="text">Marshmallow Ice Cream</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

<script>
  var slideIndex = 0;
  showSlides();

  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    slides[slideIndex-1].style.display = "block";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
  }
</script>

<!-- Lotto Javascript -->
<script>
  const numbersDiv = document.querySelector('.numbers')
  const drawButton = document.querySelector('#draw')
  const resetButton = document.querySelector('#reset')

  const lottoNumbers = []
  const colors = ['orange', 'blue', 'red', 'purple', 'green']

  function paintNumber(number) {
      const eachNumDiv = document.createElement('div')
      let colorIndex = Math.floor(number / 10)
      eachNumDiv.classList.add('eachnum')
      eachNumDiv.style.backgroundColor = colors[colorIndex]
      eachNumDiv.textContent = number
      numbersDiv.appendChild(eachNumDiv)
  }

  drawButton.addEventListener('click', function() {
      while(lottoNumbers.length < 6) {
          let ran = Math.floor(Math.random() * 45) + 1
          if(lottoNumbers.indexOf(ran) == -1) {
              lottoNumbers.push(ran)
              paintNumber(ran)
          }
      }
  })

  resetButton.addEventListener('click', function() {
      lottoNumbers.splice(0,6)
      numbersDiv.innerHTML = ''
  })
</script>